{% extends 'base.html.twig' %}
{% block body %}
    <!-- ABOUT -->
    <section class="container about filler">   
        <div class="black-title-container animate__animated animate__fadeInDown">
        <div class="floating-title">
            <h1 class="black-title">CROATEL</h1>
            <p class="small-title">OUR PHILOSOPHY</p>
        </div>
        </div>

        <div class="about-grid-2">
        <p>Croatel is a leading UHD/HD TV production and satellite communications company in Southeast Europe, based in Zagreb, Croatia, primarily engaging in broadcasting of sport events and satellite/microwave communications.
            <br /><br />We have been active on the market for over 25 years, currently employing 80 (eighty) people and are licensed by the Croatian Post and Electronic Communications Agency since 1991.
        </p>
        <div class="photo-broken-grid-1">
            <img src="images/fotke/OB_4KUHDOB5/UHD_OB5_1.jpg" alt="PlayoutFacility">
            <img src="images/fotke/Services_HRT/parlamentarni_2020_1.jpg" alt="parlamentarni 2020">
        </div>
        </div>
        <p class="secondary-paragraf">Formed from previous members of Satellite group in HPT (Croatian Post and Telecommunication), we were the first licensed satellite service provider company in Croatia, offering services for the professional satellite communication, employing engineers with a degree from University of Zagreb, Faculty of Electrical Engineering and Computing, Department of Radiocommunications and Microwave Electronics and skilled technicians in UHD/HD TV Production, satellite and microwave communications.</p>
    </section>

    <!-- SLIKE -->
    <div class="photo-container">
        <img class="element-item" src="images/fotke/Home/img_5.jpg" alt="studio">
        <img class="element-item" src="images/fotke/Home/img_6.jpg" alt="camera">
        <img class="element-item" src="images/fotke/Services_ArenaSport/Arena_AR_8.jpg" alt="Arena_AR">
        <img class="element-item" src="images/fotke/OB_HDOB3/HDOB3_10.jpg" alt="HDOB3">
    </div>

    <br/><br/>
    <section class="container">
        <div class="secondary-paragraf">
        <p>Croatel is also certified by Croatian Register of Shipping as a service supplier for installation and maintenance telecommunication services on the off-shore platforms and ISO 9001 certified since 2007.</p>
        <br/>
        <p>We have been working in the HD technology since 2007 and in the UHD since 2016. Our technical TV production includes six OB trucks in total, specifically one 4K UHD OB truck and five HD OB vans/trucks with UHD and HD camera chains, super slow motion cameras, editing equipment and two HD DSNG vans.</p>
        <br/>
        <p>Additionally, our projects include ownership, design and realization of a HD Playout facility system, design and realization of microwave and satellite closed network systems and 3D VR and AR Design Production.</p>
        </div>
    </section>
    <!-- VIDEO -->
    <iframe width="100%" height="315px" src="https://www.youtube.com/embed/U39LnLlUBYk" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <section class="container">
        <!-- CONTACT US -->
        <div class="container-2-50">
        <div class="work-title"> 
            <h4>Let's make something awesome together</h4>
            <p>Drop us a line, or give us a heads up if you're interested in visiting us.</p>
        </div>
        <a href="Contact.html" id="getInTouch" class="outline-button">Get in touch</a>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="scripts/parallax.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/navigation.js"></script>
{% endblock %}