{% extends 'base.html.twig' %}
{% block body %}
    <div class="parallex-effect filler">
        <div class="black-title-container animate__animated animate__fadeInDown">
            <div class="floating-title">
            <h1 class="black-title">CROATEL</h1>
            <p class="small-title">Satellite communications, <br /> TV broadcasting & augmented reality</p>
            </div>
        </div>
    </div>

    <section class="home">
        <div class="container">
            <!-- ACTIVITIES NAVIGATION -->
            <div class="cikCak animate__animated animate__backInLeft">
            <a href="OutsideBroadcasting.html" id="OBT" class="color-text-animation">OUTSIDE BROADCASTING</a>
            <a href="PlayoutFacility.html" id="PF" class="color-text-animation">PLAYOUT FACILITY</a>
            <a href="MicrowaweAndSatelite.html" id="MC" class="color-text-animation">MICROWAVE & SATELLITE COMMUNICATIONS</a>
            <a href="AugmentedReality.html" id="AR" class="color-text-animation">AUGMENTED REALITY</a>
            <a href="References.html" id="REF" class="color-text-animation">REFERENCES</a>
            </div>
            <!-- CONTENT PLAYOUT FACILITY -->
        </div>
    </section>

    <section class="container">
        <!-- LOGOs -->
        <div class="black-title-container">
            <div class="floating-title">
            <h1 class="black-title">Sports</h1>
            <p class="small-title">broadcast</p>
            </div>
        </div>
        <div class="home-sport-logos">
            <img src="images/logo/logo_white/logo__white_Tokyo_2020.png" alt="Tokyo Olimpys games 2020">
            <img src="images/logo/logo_color/RIO2016.png" alt="RIO 2016">
            <img src="images/logo/logo_color/logo__color_Minsk_Olympic_Games_2019.svg" alt="Minsk Olympic Games 2019">
            <img src="images/logo/logo_white/logo__white_UEFA_Champuins_League.svg" alt="UEFA_Champions_League">
            <img src="images/logo/logo_color/logo__color_UEFA_Europa_League_light.svg" alt="UEFA_Europa_League">
            <img src="images/logo/logo_color/logo__color_Hrvatki_telekom_premijer_liga.svg" alt="Hrvatki_telekom_premijer_liga">
            <img src="images/logo/logo_color/logo__color_Hrvatski_telekom_prva_liga.svg" alt="HHrvatski_telekom_prva_liga">
            <img src="images/logo/logo_color/logo__color_HNS.svg" alt="HNS">
            <img src="images/logo/logo_color/logo__color_ABA.svg" alt="ABA">
            <img src="images/logo/logo_color/logo__color_BAKU_2015_light.svg" alt="BAKU 2015">
            <img src="images/logo/logo_color/logo__color_DrugaHNL.svg" alt="Druga HNL">
            <img src="images/logo/logo_color/logo__color_EHF_champions_league.svg" alt="EHF champions league">
            <img src="images/logo/logo_color/logo__color_CEV.svg" alt="CEV">
            <img src="images/logo/logo_color/logo__color_HMNL.svg" alt="HMNL">
            <img src="images/logo/logo_color/logo__color_Tour_of_Croatia.png" alt="Tour of Croatia">
            <img src="images/logo/logo_color/logo__color_RVL.svg" alt="Regionalna vaterpolo liga">
            <img src="images/logo/logo_white/logo__white_SEHA_txt_light.svg" alt="SEHA">
            <img src="images/logo/logo_white/logo__white_EHF.svg" alt="EHF">
            <img src="images/logo/logo_white/logo__white_LEN_champions_league.svg" alt="LEN champions league">
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#home-activities").load("html/activities-nav.html")
        });
    </script>
{% endblock %}