{% extends 'base.html.twig' %}
{% block body %}
    <section class="container hrt filler">
        <div class="work-title">
        <img src="../images/logo/partners/HRT_logo_outline.svg" alt="HRT logo">
        <p>Conceptual design, 3D modelling and texturing, virtual studio setup and real studio expansion with 3D Augmented reality.
        </p>
        <br>
        <p>2020 Croatian presidential election</p>
        <br>
        <p>2020 Croatian parliamentary election</p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nDZbX553B8c?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8jQmRzngUU8?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
        <br>
    </section>
{% endblock %}