{% extends 'base.html.twig' %}
{% block body %}
    <section class="container hrvatskiTelekom filler">

    <div class="work-title">
        <img src="../images/logo/partners/hrvatski_telekom_logo.svg" alt="Hrvatski telekom logo">
        <br>
        <p>Croatel signed a long-term contract with Croatian Telecom for the television production of various sports events.</p>
        <br>
        <p>Television production services include broadcasts of the Croatian Telecom First Division Football, UEFA Europa League, Croatian Football Cup, Second Division Croatian Football, Croatian Telecom Basketball Premier League, LEN Water Polo Champions League, Regional Water Polo League, SEHA League and Croatian First Division Futsal.</p>
        <br><br>
        <p>Croatel provides television broadcasting services on a turnkey basis, implementing the highest world standards in HD and UHD technology and is responsible for the complete television production of all of these leagues.
        The production crews include the most experienced Croatian sports directors, video and audio engineers, cameramen, EVS and graphic operators.
        In domestic sports broadcasts, Croatel uses in-house developed graphic software, replay transitions and statistics.</p>
        <br><br>
        <p>DTH satellite service is designed exclusively for HT Croatian Telecom as a turn-key solution (design and technical documentation, equipment supply, installation and 24/7 SLA contract), based on an Exclusive Contract for T-HT Croatian Telecom and covering technical broadcast service of 6 HD TV sport production channels on IPTV, OTT and DTH platforms.</p>
    </div>

    </section>
{% endblock %}