{% extends 'base.html.twig' %}
{% block body %}
    <section class="container arenaSport filler">

    <div class="work-title">
        <img src="../images/logo/partners/Arena_Sport.svg" alt="Arena Sport logo">
        <p>Exclusive technical broadcast service of Arena Sport programs on both T-HT (Croatian Telecom) IPTV and DTH platforms includes 6 (six) HD Arena Sport channels, broadcasted from CROATEL’s technical facility (TV studio) in Zagreb, Croatia. Arena Sport covers UEFA Champions League, Europa Football League, Croatian Football League, Italian Serie A Football, French Football League 1, Regional Water Polo League, LEN Champions Water Polo League, ABA Regional Basketball League, SEHA Handball League, NHL, EHF handball championship, boxing matches etc.</p>  
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/1m2BYuJFipg?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U39LnLlUBYk?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <br>
    </section>
{% endblock %}