{% extends 'base.html.twig' %}
{% block body %}
    <!-- ACTIVITIES -->
    <section class="container filler">
        <div class="black-title-container animate__animated animate__fadeInDown">
        <div class="floating-title">
            <h1 class="black-title">REFERENCES</h1>
            <!-- <p class="small-title">Activities at a glance</p> -->
        </div>
        </div>
        <p class="txt_center">Croatel TV production offers production of TV contents, sports events, TV shows, TV post-production, OB van, ENG crews.</p>  
        <br/><br/>
        <!-- REFERENCES -->
        <div id="References_list">
            <section class="References middle">
                <!-- Timeline -->
                <div class="flex-parent">
                    <!-- Timeline buttons-->
                    <div class="references-input-flex-container">
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2014">
                        <div class="references-dot-info" data-description="2014">
                            <span class="year">2014</span>
                        </div>
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2015">
                        <div class="references-dot-info" data-description="2015">
                            <span class="year">2015</span>
                        </div>
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2016">
                        <div class="references-dot-info" data-description="2016">
                            <span class="year">2016</span>
                        </div>
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2017">
                        <div class="references-dot-info" data-description="2017">
                            <span class="year">2017</span>
                        </div>
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2018">
                        <div class="references-dot-info" data-description="2018">
                            <span class="year">2018</span>
                        </div>
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2019">
                        <div class="references-dot-info" data-description="2019">
                            <span class="year">2019</span>
                        </div>
                        <input class="references-input-timeline" type="radio" name="timeline-dot" data-description="references-2020" checked>
                        <div class="references-dot-info" data-description="2020">
                            <span class="year">2020</span>
                        </div>
                        <!-- Timeline data -->
                        <div id="references-timeline-descriptions-wrapper">
                            <!-- 2014 -->
                            <section data-description="references-2014">
                            <div class="description-container">
                                <div class="description_1">
                                    <h3>Technical production of the Mass from Dominican Monastery in Dubrovnik</h3>
                                    <p>- Croatia, June 2014</p>
                                </div>
                                <div class="description_1">
                                    <h3>EURO 2016 qualifications Montenegro</h3>
                                    <p>- Sweden, November 2014</p>
                                </div>
                                <div class="description_1">
                                    <h3>Woman’s European Handball Championship – Host Broadcaster</h3>
                                    <p>-  December 2014</p>
                                </div>
                                <div class="description_1">
                                    <h3>Contract for Production services</h3>
                                    <p>- Sports production in HD resolution for seasons , 2014/2015 </p>
                                    <p>
                                        Croatian First Football League,
                                        ABA Basketball League,
                                        Croatian Telecom Premier Basketball League,
                                        LEN Waterpolo League,
                                        SEHA Handball League,
                                        FIBA Basketball League
                                    </p>
                                </div>
                            </div>
                            </section>
                            <!-- 2015 -->
                            <section data-description="references-2015">
                            <div class="description-container">
                                <div class="description_1">
                                    <h3>UEFA U-17 Final Round Championship Bulgaria – Host Broadcaster</h3>
                                    <p>- May 2015</p>
                                </div>
                                <div class="description_1">
                                    <h3>Tour of Croatia 2015</h3>
                                    <p>- April 2015</p>
                                </div>
                                <div class="description_1">
                                    <h3>1st. European Olympic Games BEGOC Baku 2015</h3>
                                    <p>-  August 2015</p>
                                </div>
                                <!-- UEFA Champions League matches -->
                                <div class="title-small-line">
                                    <h3>UEFA Champions League matches</h3>
                                    <span ></span>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb – Skenderbeu</h3>
                                    <p>- 2015</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb– Bayern</h3>
                                    <p>- 2015</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb – Arsenal</h3>
                                    <p>- 2015</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb – Olympiacos</h3>
                                    <p>- 2015</p>
                                </div>
                                <br />
                                <div class="description_1">
                                    <h3>Contract for Production services</h3>
                                    <p>- Sports production in HD resolution for seasons , 2015/2016 </p>
                                    <p> Croatian First Football League, ABA Basketball League, Croatian Telecom Premier Basketball League, LEN Waterpolo League, SEHA Handball League, FIBA Basketball League</p>
                                </div>
                            </div>
                            </section>
                            <!-- 2016 -->
                            <section data-description="references-2016">
                            <div class="description-container">
                                <div class="description_1">
                                    <h3>RIO 2016 Summer Olympic Games</h3>
                                    <p>- August 2016</p>
                                    <p>Technical production of Field Hockey Men and Women Olympic Tournament</p>
                                </div>
                                <div class="description_1">
                                    <h3>Salzburg K1 Premier League</h3>
                                    <p>- April 2016</p>
                                </div>
                                <div class="description_1">
                                    <h3>Tour of Croatia 2016</h3>
                                    <p>- April 2016</p>
                                </div>
                                <div class="description_1">
                                    <h3>Tatami Linz 2016</h3>
                                    <p>- October 2016</p>
                                </div>
                                <!-- UEFA Champions League matches -->
                                <div class="title-small-line">
                                    <h3>UEFA Champions League matches</h3>
                                    <span ></span>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb – Juventus</h3>
                                    <p>- 2016</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb – Sevilla</h3>
                                    <p>- 2016</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb – Lyon</h3>
                                    <p>- 2016</p>
                                </div>
                                <br />
                                <div class="description_1">
                                    <h3>Contract for Production services</h3>
                                    <p>- Sports production in HD resolution for seasons , 2016/2017 </p>
                                    <p>
                                        Croatian First Football League,
                                        ABA Basketball League,
                                        Croatian Telecom Premier Basketball League,
                                        LEN Waterpolo League,
                                        SEHA Handball League,
                                        FIBA Basketball League
                                    </p>
                                </div>
                            </div>
                            </section>
                            <!-- 2017 -->
                            <section data-description="references-2017">
                            <div class="description-container">
                                <div class="description_1">
                                    <h3>SQT Race of the Legends 50 years FIS,</h3>
                                    <p>- January 2017 </p>
                                </div>
                                <div class="description_1">
                                    <h3>European Indoor Athletics Championship Belgrade 2017 – Host Broadcaster</h3>
                                    <p>- March 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>16th UEFA European U17 championship – Host Broadcaster</h3>
                                    <p>- May 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>The World Games Wroclaw 2017</h3>
                                    <p>-  July 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>EURO 2018 Qualifiers Italy – Albania unilateral</h3>
                                    <p>- October 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>Tour of Croatia 2017</h3>
                                    <p>- April 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>Friendly Handball match Croatia – Slovenia</h3>
                                    <p>- October 2017</p>
                                </div>
                                <!-- UEFA Europa League matches -->
                                <div class="title-small-line">
                                    <h3>UEFA Europa League matches</h3>
                                    <span ></span>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Osijek – Luzern</h3>
                                    <p>- July 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Osijek – Santa Coloma</h3>
                                    <p>- July 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Osijek – Austria Wien</h3>
                                    <p>- August 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Osijek – PSV Eindhoven</h3>
                                    <p>- August 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Rijeka – Olympiacos</h3>
                                    <p>- August 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL RIJEKA – AEK</h3>
                                    <p>- September 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL RIJEKA – AUSTRIA VIENNA </h3>
                                    <p>- November 2017</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL RIJEKA – AC MILAN</h3>
                                    <p>- December 2017</p>
                                </div>
                                <br />
                                <div class="description_1">
                                    <h3>Contract for Production services</h3>
                                    <p>- Sports production in HD resolution for seasons , 2017/2018 </p>
                                    <p> Croatian First Football League, ABA Basketball League, Croatian Telecom Premier Basketball League, LEN Waterpolo League, SEHA Handball League, FIBA Basketball League</p>
                                </div>
                            </div>
                            </section>
                            <!-- 2018 -->
                            <section data-description="references-2018">
                            <div class="description-container">
                                <div class="description_1">
                                    <h3>Berlin 2018 World Para-Athletics European Championships</h3>
                                    <p>- August 2018</p>
                                </div>
                                <div class="description_1">
                                    <h3>Tour of Croatia 2018</h3>
                                    <p>- April 2018</p>
                                </div>
                                <div class="description_1">
                                    <h3>Croatia Men’s European Handball Championship – Host Broadcaster</h3>
                                    <p>- January 2018</p>
                                </div>
                                <!-- UEFA Europa League matches -->
                                <div class="title-small-line">
                                    <h3>UEFA Europa League matches</h3>
                                    <span ></span>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Dinamo Zagreb – Anderlecht</h3>
                                    <p>- December 2018</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Dinamo Zagreb – Spartak Trnava</h3>
                                    <p>- November 2018</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Dinamo Zagreb – Fenerbahce</h3>
                                    <p>- September 2018</p>
                                </div>
                                <br/>
                                <div class="description_1">
                                    <h3>Contract for Production services</h3>
                                    <p>- Sports production in HD resolution for seasons, 2018/2019 </p>
                                    <p> MAXtv first league, ABA Basketball League, Croatian Telecom Premier Basketball League, LEN Waterpolo League, SEHA Handball League, FIBA Basketball League</p>
                                </div>
                            </div>
                            </section>
                            <!-- 2019 -->
                            <section data-description="references-2019">
                            <div class="description-container">
                                <div class="description_1">
                                    <h3>KSW 51</h3>
                                    <p>Arena Zagreb, November 2019</p>
                                </div>
                                <div class="description_1">
                                    <h3>Tour of Croatia</h3>
                                    <p>- October 2019</p>
                                </div>
                                <div class="description_1">
                                    <h3>Ultra Europe Split</h3>
                                    <p>- July 2019</p>
                                </div>
                                <div class="description_1">
                                    <h3>II. European Games</h3>
                                    <p>- Minsk, June 2019</p>
                                </div>
                                <!-- UEFA Europa League matches -->
                                <div class="title-small-line">
                                    <h3>UEFA Europa League matches</h3>
                                    <span ></span>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Dinamo Zagreb - Benfica</h3>
                                    <p>- March 2019</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA EL Dinamo Zagreb - Viktoria Plzen</h3>
                                    <p>- February 2019</p>
                                </div>
                                <!-- UEFA Champions League matches -->
                                <div class="title-small-line">
                                    <h3>UEFA Champions League matches</h3>
                                    <span ></span>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb - Atlanta</h3>
                                    <p>- September 2019</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb - Shakhtar</h3>
                                    <p>- November 2019</p>
                                </div>
                                <div class="description_1">
                                    <h3>UEFA CL Dinamo Zagreb - Manchester City</h3>
                                    <p>- December 2019</p>
                                </div>
                            </div>
                            </section>
                            <!-- 2020 -->
                            <section data-description="references-2020">
                            <div class="description_1">
                                <h3>Croatian Radiotelevision</h3>
                                <p>- January 2020</p>
                                <p>Graphic content creation for news program.</p>
                                <p>Virtual studio creation for Croatian presidential election 2019-2020 and Croatian parliamentary election 2020.</p>
                            </div>
                            <div class="description_1">
                                <h3>Snow Queen Trophy</h3>
                                <p>- January 2020, Zagreb, Sljeme</p>
                                <p>Women's & Man's Slalom</p>
                            </div>
                            <div class="description_1">
                                <h3>The Magic Tour, Severina, Concert Arena Zagreb, UHD/HDR Production</h3>
                                <p>Concert Arena Zagreb</p>
                                <p>UHD/HDR Production</p>
                            </div>
                            <!-- UEFA Champions League matches -->
                            <div class="title-small-line">
                                <h3>UEFA Champions League matches</h3>
                                <span ></span>
                            </div>
                            <div class="description_1">
                                <h3>UEFA CL Lokomotiva - Rapid Vienna</h3>
                                <p>- August 2020</p>
                            </div>
                            <!-- UEFA Europa League matches -->
                            <div class="title-small-line">
                                <h3>UEFA Europa League matches</h3>
                                <span ></span>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Osijek - FC Basel</h3>
                                <p>- September 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Rijeka - Kolos Kovalika</h3>
                                <p>- September 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Dinamo Zagreb - Flora</h3>
                                <p>- October 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Dinamo Zagreb - Feyenoord</h3>
                                <p>- October 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Rijeka - Real Sociedad</h3>
                                <p>- October 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Dinamo Zagreb - Wolfsberger</h3>
                                <p>- November 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Rijeka - Napoli</h3>
                                <p>- November 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Dinamo Zagreb - CSKA Moskva</h3>
                                <p>- December 2020</p>
                            </div>
                            <div class="description_1">
                                <h3>UEFA EL Rijeka - AZ Alkmaar</h3>
                                <p>- December 2020</p>
                            </div>
                            <!-- UEFA NATIONS LEAGUE MATCHES -->
                            <div class="title-small-line">
                                <h3>UEFA Nations league matches</h3>
                                <span ></span>
                            </div>
                            <div class="description_1">
                                <h3>UEFA NL Croatia - Sweden</h3>
                                <p>- October 2020</p>
                            </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $("#home-activities").load("html/activities-nav.html")
        });
    </script>
{% endblock %}