{% extends 'base.html.twig' %}
{% block body %}
    <!-- SAILLING TEAM -->
    <div class="container filler">
        <div class="black-title-container">
            <div class="floating-title">
                <h1 class="black-title">Sailing team</h1>
            </div>
        </div>
        <div class="SaillingTeam">
            <div class="work-title txt_center"> 
                <h4>We also love sailing.</h4>
                <p>Formed in 2001. Three team leaders are previous members of the Croatian olympic sailing team.</p>
            </div>
        </div>
        <!-- TIMELINE -->
        <div class="flex-parent">
        <!-- Timeline buttons-->
            <div class="sailing-input-flex-container">
                <!-- 2003 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2003">
                <div class="sailing-dot-info" data-description="sailing_2003">
                    <span class="year">2003</span>
                </div>
                <!-- 2004 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2004">
                <div class="sailing-dot-info" data-description="sailing_2004">
                    <span class="year">2004</span>
                </div>
                <!-- 2008 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2008">
                <div class="sailing-dot-info" data-description="sailing_2008">
                    <span class="year">2008</span>
                </div>
                <!-- 2009 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2009">
                <div class="sailing-dot-info" data-description="sailing_2009">
                    <span class="year">2009</span>
                </div>
                <!-- 2011 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2011">
                <div class="sailing-dot-info" data-description="sailing_2011">
                    <span class="year">2011</span>
                </div>
                <!-- 2012 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2012">
                <div class="sailing-dot-info" data-description="sailing_2012">
                    <span class="year">2012</span>
                </div>
                <!-- 2016 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2016">
                <div class="sailing-dot-info" data-description="sailing_2016">
                    <span class="year">2016</span>
                </div>
                <!-- 2017 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2017">
                <div class="sailing-dot-info" data-description="sailing_2017">
                    <span class="year">2017</span>
                </div>
                <!-- 2019 -->
                <input class="sailing-input-timeline" type="radio" name="timeline-dot" data-description="sailing-2019" checked>
                <div class="sailing-dot-info" data-description="sailing_2019">
                    <span class="year">2019</span>
                </div>
        
                
                <!-- Timeline data -->
                <div id="sailing-timeline-descriptions-wrapper">
                <!-- 2003 -->
                <section data-description="sailing-2003">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Easter regatta</h3>
                            <p>Vodice, Croatia</p>
                            <p>1st place</p>
                        </div>
                    </div>
                </section>
                <!-- 2004 -->
                <section data-description="sailing-2004">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Easter regatta</h3>
                            <p>Vodice, Croatia</p>
                            <p>1st place</p>
                        </div>
                        <div class="description_1">
                            <h3>Susac 100x2</h3>
                            <p>1st place</p>
                        </div>
                    </div>
                </section>
                <!-- 2008 -->
                <section data-description="sailing-2008">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Croatian Championship</h3>
                            <p>Zadar, Croatia</p>
                            <p>3rd place</p>
                            <p>Skipper: Marin Misura</p>
                            <p>Crew: Tonko Barac</p>
                        </div>
                    </div>
                </section>
                <!-- 2009 -->
                <section data-description="sailing-2009">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Balardi Cup</h3>
                            <p>Lago Di Garda, Italy</p>
                            <p>Skipper: Marin Misura</p>
                            <p>Crew: Tonko Barac</p>
                        </div>
                    </div>
                </section>
                <!-- 2011 -->
                <section data-description="sailing-2011">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Easter Regatta</h3>
                        </div>
                    </div>
                </section>
                <!-- 2012 -->
                <section data-description="sailing-2012">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Star Class European Championship</h3>
                            <p>Sanremo, Italy</p>
                            <p>8th place</p>
                        </div>
                        <div class="description_1">
                            <h3>Star Class World Championship</h3>
                            <p>Hyeres, France</p>
                            <p>29th place</p>
                            <p>Skipper: Marin Misura</p>
                            <p>Crew: Tonko Barac</p>
                        </div>
                    </div>
                </section>
                <!-- 2016 -->
                <section data-description="sailing-2016">
                    <div class="description-container">
                        <div class="description_1">
                            <h3>Star Class City SSL</h3>
                            <p>Hamburg, Germay</p>
                        </div>
                        <div class="description_1">
                            <h3>Star Class World Championship</h3>
                            <p>Miami, USA</p>
                            <p>20th place</p>
                        </div>
                        <div class="description_1">
                            <h3>Star Class European Championship</h3>
                            <p>Warnemunde, Germay</p>
                            <p>6th place</p>
                            <p>Skipper: Marin Misura</p>
                            <p>Crew: Tonko Barac</p>
                        </div>
                    </div>         
                </section>
                <!-- 2017 -->
                <section data-description="sailing-2017">
                    <div class="description_1">
                    <h3>Bacardi Cup</h3>
                    <p>Miami, USA</p>
                    <p>14th place</p>
                    <p>Skipper: Marin Misura</p>
                    <p>Crew: Tonko Barac</p>
                    </div>
                </section>
                <!-- 2019 -->
                <section data-description="sailing-2019">
                    <div class="grid_50_50">
                        <div class="description_1">
                            <h3>World Championship</h3>
                            <p>Portocervo, Sardinia</p>
                            <p>4th place</p>
                            <p>Skipper: Marin Misura</p>
                            <p>Crew: Tonko Barac</p>
                        </div>
                        <div>
                            <img src="images/fotke/Sailing/OlympicStarClass/Star_world_championship_4th_2019.jpg" alt="Star world championship">
                        </div>
                    </div>
                </section>
                </div>
        
            </div>
        </div>
    
        <br/><br/>
        <!-- GALLERY 1  OlympicStarClass -->
        <h4>Olympic Star Class</h4>
        <br/>
        <section class="gallery">
            <div class="gallery-items-1 img-thumbnail-OlympicStarClass">
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/bacardi2017_1.jpg"><img src="images/fotke/Sailing/OlympicStarClass/bacardi2017_1.jpg" alt="bacardi2017_1"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/bacardi2017_2.jpg"><img src="images/fotke/Sailing/OlympicStarClass/bacardi2017_2.jpg" alt="bacardi2017_2"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/bacardi2017_3.jpg"><img src="images/fotke/Sailing/OlympicStarClass/bacardi2017_3.jpg" alt="bacardi2017_3"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_1.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_1.jpg" alt="BalardiCup2009_1"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_3.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_3.jpg" alt="BalardiCup2009_3"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_5.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_5.jpg" alt="BalardiCup2009_5"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_7.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_7.jpg" alt="BalardiCup2009_7"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_8.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_8.jpg" alt="BalardiCup2009_8"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_9.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_9.jpg" alt="BalardiCup2009_9"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_10.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_10.jpg" alt="BalardiCup2009_10"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_11.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_11.jpg" alt="BalardiCup2009_11"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_15.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_15.jpg" alt="BalardiCup2009_15"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_16.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_16.jpg" alt="BalardiCup2009_16"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_17.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_17.jpg" alt="BalardiCup2009_17"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_18.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_18.jpg" alt="BalardiCup2009_18"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_19.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_19.jpg" alt="BalardiCup2009_19"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_20.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_20.jpg" alt="BalardiCup2009_20"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_21.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_21.jpg" alt="BalardiCup2009_21"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_22.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_22.jpg" alt="BalardiCup2009_22"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_24.jpg"><img src="images/fotke/Sailing/OlympicStarClass/BalardiCup2009_24.jpg" alt="BalardiCup2009_24"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/CroatianChampionship2008_1.jpg"><img src="images/fotke/Sailing/OlympicStarClass/CroatianChampionship2008_1.jpg" alt="CroatianChampionship2008"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_1.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_1.jpg" alt="StarClassCitySSL2016_1"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_2.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_2.jpg" alt="StarClassCitySSL2016_2"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_3.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_3.jpg" alt="StarClassCitySSL2016_3"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_4.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassCitySSL2016_4.jpg" alt="StarClassCitySSL2016_4"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassWorldChampionship2016_1.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassWorldChampionship2016_1.jpg" alt="StarClassWorldChampionship2016_1"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassWorldChampionship2016_10.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassWorldChampionship2016_10.jpg" alt="StarClassWorldChampionship2016_10"></a></div>
                <div class="item"><a href="images/fotke/Sailing/OlympicStarClass/StarClassWorldChampionship2016_2.jpg"><img src="images/fotke/Sailing/OlympicStarClass/StarClassWorldChampionship2016_2.jpg" alt="StarClassWorldChampionship2016_2"></a></div>
            </div>
            <div class="pagination">
                <div class="prev-1">Prev</div>
                <div class="page-1">Page <span class="page-num-1"></span></div>
                <div class="next-1">Next</div>
            </div>
        </section>
    
        <br /><br /><br />
        <!-- GALLERY 2 SailingFirst407 -->
        <h4>First 40.7 Beneteau</h4>
        <br/>
        <section class="gallery">
            <div class="gallery-items-2 img-thumbnail-SailingFirst40">
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/beneteau_n01.jpg"><img src="images/fotke/Sailing/SailinguFirst407/beneteau_n01.jpg" alt="beneteau_n01"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/beneteau_n02.jpg"><img src="images/fotke/Sailing/SailinguFirst407/beneteau_n02.jpg" alt="beneteau_n02"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/beneteau_n03.jpg"><img src="images/fotke/Sailing/SailinguFirst407/beneteau_n03.jpg" alt="beneteau_n03"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/beneteau_n04.jpg"><img src="images/fotke/Sailing/SailinguFirst407/beneteau_n04.jpg" alt="beneteau_n04"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/easter_regatta_2011.jpg"><img src="images/fotke/Sailing/SailinguFirst407/easter_regatta_2011.jpg" alt="easter_regatta_2011"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing01.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing01.jpg" alt="sailing01"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing02.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing02.jpg" alt="sailing02"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing03.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing03.jpg" alt="sailing03"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing04.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing04.jpg" alt="sailing04"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing05.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing05.jpg" alt="sailing05"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing06.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing06.jpg" alt="sailing06"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing07.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing07.jpg" alt="sailing07"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing22.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing22.jpg" alt="sailing"></a></div>
                <div class="item"><a href="images/fotke/Sailing/SailinguFirst407/sailing23.jpg"><img src="images/fotke/Sailing/SailinguFirst407/sailing23.jpg" alt="sailing23"></a></div>
            </div>
            <div class="pagination">
                <div class="prev-2">Prev</div>
                <div class="page-2">Page <span class="page-num-2"></span></div>
                <div class="next-2">Next</div>
            </div>
        </section>
    </div>
    
    <!-- Interview video -->
    <br /><br />
    <section class="section">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ioueipyyjXQ?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    
    <br /><br />
    <section class="section">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SzWhzjDE220?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="scripts/script.js"></script>
    <!-- Magnific popup js -->
    <script src="scripts/vendors/jquery.magnific-popup.min.js"></script>
    <!-- Pagination -->
    <script src="scripts/active.js"></script>
    <script src="scripts/GallerySailing.js"></script>
{% endblock %}