{% block footer %}
    <footer>
        <div class="footer_grid">
        <div class="footer_links">
            <a id="footer-references" href="/references">References</a>
            <a id="footer-partners" href="/partners">Partners</a>
            <a id="footer-about" href="/about">About</a>
            <a id="footer-contact" href="/contact">Contact</a>
            <a id="footer-sailing" href="/sailing">Sailing</a>
        </div>
        
        <div class="footer_info ">
            <p>Croatel d.o.o.</p>
            <p>Pantovčak 265</p>
            <p>10000 Zagreb</p>
            <p>Croatia</p>
            <a id="footer-ID" href="IDcard.html">Our ID card</a>
            <a id="footer-privacyPolicy" href="privacyPolicy.html">Privacy Policy</a>
        </div>
    
        <div class="footer_contact">
            <p>Tel: +385 1 455 2000</p>
            <p>Fax: +385 1 455 2020</p>
            <a href="mailto:info@croatel.hr">info@croatel.hr</a>
            <a href="mailto:ncc@croatel.hr">ncc@croatel.hr</a>
        </div>
    
        <img class="footer_CRS" src="images/logo/CRS.jpg" alt="CRS">
        </div>
        <br/>
        <div class="followUs">
        <p>Follow us</p>
        <div class="social">
            <a href="https://www.facebook.com/croatel/"><img src="images/logo/social/social__facebook.svg" alt="facebook"></a>
            <a href="https://www.linkedin.com/company/croatel/"><img src="images/logo/social/social__linkedin.svg" alt="linkedin"></a>
            <a href="https://www.instagram.com/croatel/"><img src="images/logo/social/social__instagram_1.svg" alt="instagram"></a>
        </div>
        </div>
    
        <br/>
        <br/>
        <p class="copyright">© Croatel. All rights reserved 2020</p>
    </footer>
{% endblock %}