{% block header %}
<header>
    <div id="navBar">
        <a href="/" id="logo"><img class="logo logo-hide" src="images/logo/social/CroatelLogo-white.svg" alt="Croatel Logo"/></a>
        <nav>
            <div class="nav-links">
            <a href="/" id="header-home" class="animated_txt">HOME</a>
            <a href="/references" id="header-references" class="animated_txt">REFERENCES</a>
            <a href="/partners" id="header-partners" class="animated_txt">PARTNERS</a>
            <a href="/about" id="header-about" class="animated_txt">ABOUT</a>
            <a href="/contact" id="header-contact" class="animated_txt">CONTACT</a>
            <a href="/sailing" id="header-sailing" class="animated_txt">SAILING</a>
            </div>
        </nav>
    </div>
    <div id="burger" class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <div class="nav-mobile">
        <div class="nav-links">
            <a href="/" class="animated_txt">HOME</a>
            <a href="/references" class="animated_txt">REFERENCES</a>
            <a href="/partners" class="animated_txt">PARTNERS</a>
            <a href="/about" class="animated_txt">ABOUT</a>
            <a href="/contact" class="animated_txt">CONTACT</a>
            <a href="/sailing" class="animated_txt">SAILING</a>
        </div>
    </div>
</header>
{% endblock %}